@model form.Models.Form;

@{
    ViewData["Title"] = "Form";
}


<h1>Dziękujemy za przesłanie formularza.</h1>
Potwierdzam Twoje dane
<br />
Imie: @Model.Name
<br />
Nazwisko: @Model.Surname
<br />
Email: @Model.Email
<br />
Phone: @Model.Phone
<br />
Wiek: @Model.Age
<br />
Miasto: @Model.City